<a href="https://colab.research.google.com/github/harireddy93/DataScience/blob/master/LinearRegressionAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT

###  This is a cars dataset having 156 observation and 16 different variables. You have to create a linear regression model using the provided predictor variables for the prediction of sales value of cars.

#### Note: Please run your code step by step as provided in the sheet or else you may face challenges with the code.

### Import the dataset.

In [1]:
import pandas as pd
car = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/car_sales.csv")
car.head()

  Manufacturer    Model  ...  Latest_Launch  Power_perf_factor
0        Acura  Integra  ...       2/2/2012          58.280150
1        Acura       TL  ...       6/3/2011          91.370778
2        Acura       CL  ...       1/4/2012          90.345000
3        Acura       RL  ...      3/10/2011          91.389779
4         Audi       A4  ...      10/8/2011          62.777639

[5 rows x 16 columns]

### Check the shape of the dataset.

In [2]:
def lr():
    return car.shape 
lr()

(156, 16)

### Check the descriptive stats of the dataset.

In [3]:
def lr():
    return car.describe()
lr()

       Sales_in_thousands  ...  Power_perf_factor
count          151.000000  ...         156.000000
mean            52.051742  ...          77.128857
std             68.907116  ...          25.084045
min              0.110000  ...          23.276272
25%             13.630000  ...          60.567577
50%             27.609000  ...          72.160636
75%             65.905500  ...          89.623790
max            540.561000  ...         188.144323

[8 rows x 12 columns]

### Q 1. Write a code to understand the total count and percentage of missing values.

In [4]:
car.info

<bound method DataFrame.info of     Manufacturer    Model  ...  Latest_Launch  Power_perf_factor
0          Acura  Integra  ...       2/2/2012          58.280150
1          Acura       TL  ...       6/3/2011          91.370778
2          Acura       CL  ...       1/4/2012          90.345000
3          Acura       RL  ...      3/10/2011          91.389779
4           Audi       A4  ...      10/8/2011          62.777639
..           ...      ...  ...            ...                ...
151        Volvo      V40  ...      9/21/2011          66.498812
152        Volvo      S70  ...     11/24/2012          70.654495
153        Volvo      V70  ...      6/25/2011          71.155978
154        Volvo      C70  ...      4/26/2011         101.623357
155        Volvo      S80  ...     11/14/2011          85.735655

[156 rows x 16 columns]>

In [13]:
def lr():
    # Count total missing and sort it 
    car.isnull()


    # Calucalte percent 
    # concatenate total and percent 
    # print missing data assigning a varibale
    # return using your created variable
    return car[car.isnull()]['Manufacturer']#miss
lr()

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
151    NaN
152    NaN
153    NaN
154    NaN
155    NaN
Name: Manufacturer, Length: 156, dtype: object

### Q 2. Impute the missing value using "median" groupby Manufacturer.

In [0]:

def lr():
    # your code here to impute missing value using median and groupby
    return
lr()
print (car.isnull().sum())

### Q 3. Create a dummy variable for "Vehicle_type"  and  drop the original variable.

In [0]:
car_dummy =pd.DataFrame()                                                           # Creating an empty data frame
def lr(car):
    # your code to create dummies
    return #your created variable
car_dummy = lr(car)
print(car_dummy)

### Q 4. Drop the below mentioned variables which will not help in prediction of sales.
``` ['Manufacturer', 'Model', 'Latest_Launch'] ```

In [0]:
def lr(car_dummy):
    # your code to drop the useless variables
    return # your created variable
car_dummy = lr(car_dummy)
print (car_dummy)

### Check for outliers using Box Plot

In [0]:
def lr():
    import seaborn as sns
    sns.boxplot(data=car_dummy, orient="h", palette="Set2")
    return None 
lr()

### Q 5. Calculate the Inter quantile range and then drop off outliers for quantile values outside 5 to 95 range.

In [0]:
def lr(car_dummy):
    import pandas as pd
    # Calculate Q1 value using quantile(0.05)
    # Calculate Q3 value using quantile value (0.95)
    # Calculate Inter Quartile Range
    # create a variable and check for outliers and drop them off
    return # your created variable
car_dummy = lr(car_dummy)
print (car_dummy)

### Q 6. Write code to standardize the variable for model building (return value will be numpy.ndarray).

In [0]:
std = pd.DataFrame()
car_modify = car_dummy.drop(car_dummy[['Sales_in_thousands']], axis=1)
def lr(car_modify):
    from sklearn.preprocessing import StandardScaler
    # code to scale the variables
    # code to transform the variables and standardize them
    return # your created variable
std = lr(car_modify)
print(std[1])

### Q 7. Write a code to create a DataFrame from the standardized value calculated above

### Since the standardized value is a numpy array, add the data to a dataframe with column header as mentioned below in the same order

```['_year_resale_value','Price_in_thousands','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Fuel_efficiency','Power_perf_factor','Vehicle_type_Passenger'] ```

In [0]:
columns = ['_year_resale_value','Price_in_thousands','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Fuel_efficiency','Power_perf_factor','Vehicle_type_Passenger']
def lr(std):
    # create a dataframe cars for the numpy array
    # assign the column headers with the columns mentioned above
    return cars
cars = lr(std)

### Q 8: Now since all variable may not be of use, please extract only the following variables for training. Preparing X (independent features) for the model building.

```['Price_in_thousands','Engine_size','Wheelbase','Fuel_efficiency','Vehicle_type_Passenger']```

In [0]:
X = pd.DataFrame()
feature_cols = ['Price_in_thousands','Engine_size','Wheelbase','Fuel_efficiency','Vehicle_type_Passenger']                
def lr(cars):
    # assign values of fature_cols to X
    return X
X = lr(cars)
print(X)

### Check for the type and shape of X.

In [0]:
def lr():
    print(type(X))
    print(X.shape)
lr()

### Q 9. Extract y (dependent variable) for model building.
```['Sales_in_thousands']```

In [0]:
y = pd.DataFrame()
def lr(car_dummy):
    # assign the dependent variable to y dataframe
    return #your dataframe
y = lr(car_dummy)
print(y.head())

### Check for the type and shape of y.

In [0]:
def lr():
    print(type(y))
    print(y.shape)
lr()

<a id=section403></a>

### Q 10. Split the value of X and y into train and test datasets.

In [0]:
from sklearn.cross_validation import train_test_split
def lr():
    return # train test split using train test split of 70:30 and random state=1
X_train, X_test, y_train, y_test = lr()

### Check the shape of  X and y of train dataset.

In [0]:
def lr():
    print(X_train.shape)
    print(y_train.shape)
lr()

### Check the shape of X and y of test dataset.

In [0]:
def lr():
    print(X_test.shape)
    print(y_test.shape)
lr()

<a id=section404></a>

### Q 11. Instantiate Linear regression model using scikit-learn

In [0]:
from sklearn.linear_model import LinearRegression
def lr():
    #initiate the linear regression model to new variable linreg
    return linreg
linreg = lr()

### Q12. Fit the linear model on X_train and y_train.

In [0]:
def lr():
    # fit the X_train and y_train
    # We don't expect any return from your side.
lr()

<a id=section405></a>

### Q 13. Interpret the Model Coefficients.

In [0]:
def lr():
    # print the linreg.intercet
    # print the linreg.coefficient
lr()

### Q.14 Zip the features to pair the feature names with the coefficients.

In [0]:
def lr():
    # insert Intercept variable with the feature_cols
    # make a list using linreg.coef
    # insert the intercept value respectively
    # creating a variable to zip feature_cols and their coef.
    # use for loop the get the value of feature_cols and their coef
        # print the above values
lr()

###  Q 15. Predict the train value using the built model.

In [0]:
y_pred_train = linreg.predict(X_train)
pred= pd.DataFrame(y_pred_train)
def lr():  
    # provide column header as sales for pred
    # check for head 
    return head
lr()

### Q 16. Predict the test value using the built model.

In [0]:
y_pred_test = linreg.predict(X_test)    
pred_test= pd.DataFrame(y_pred_test)
def lr():
    # provide column header as sales for pred
    # check for head 
    return head
lr()

<a id=section406></a>

### Q 17 Evaluate the model using Mean Absolute Error metrics for both train and test.

In [0]:
from sklearn import metrics
def lr():
    # Calculate MAE for train 
    # Calculate MAE for test 
    # print MAE for train
    # print MAE for test
lr()

### Q 18 Evaluate the model using Mean Squared Error for both train and test.

In [0]:
def lr():
    # Calculate MSE for train 
    # Calculate MSE for test 
    # print MSE for train
    # print MSE for test
lr()

### Q 19 Evaluate the model using Root Mean Squared Error for both train and test.

In [0]:
import numpy as np
def lr():
    # Calculate RMSE for train 
    # Calculate RMSE for test 
    # print RMSE for train
    # print RMSE for test
lr()

### Q 20. Evaluate the model using R-square value for both train and test.

In [0]:
from sklearn.metrics import r2_score
def lr():
    # Calculate r2 for train 
    # Calculate r2 for test 
    # print r2 for train
    # print r2 for test
lr()