In [2]:
import numpy as np
import pandas as pd

In [2]:
States = ["Andhra","Telangana", "Karnataka", "Tamil Nadu"]
capitals=["Amaravathi","Hyderabad","Bangalore","Chennai"]
arr_cap=np.array(capitals)
dict1={"1":"a","2":"b","3":"c","4":"d"}
print(arr_cap,dict1)

['Amaravathi' 'Hyderabad' 'Bangalore' 'Chennai'] {'1': 'a', '2': 'b', '3': 'c', '4': 'd'}

In [3]:
my_series= pd.Series(dict1)
my_series

1    a
2    b
3    c
4    d
dtype: object

In [4]:
series1 = pd.Series(index=States,data=capitals)
print(series1)

Andhra        Amaravathi
Telangana      Hyderabad
Karnataka      Bangalore
Tamil Nadu       Chennai
dtype: object

In [8]:
series1[ : -1]

Andhra       Amaravathi
Telangana     Hyderabad
Karnataka     Bangalore
dtype: object

In [9]:
series1 + my_series   ##only adds the values same like dictionary and this is a 1D data

1             NaN
2             NaN
3             NaN
4             NaN
Andhra        NaN
Karnataka     NaN
Tamil Nadu    NaN
Telangana     NaN
dtype: object

In [10]:
my_series[['1','4']]

1    a
4    d
dtype: object

In [11]:
mydf=pd.DataFrame()
print(mydf)

Empty DataFrame
Columns: []
Index: []

In [5]:
instruments = ["Guitar", "Vilon", "Piano","sitara","drums"]
price=["3600","4650","12398","5768","9823"]
availability =["yes","no","yes","no","yes"]
fieldlevel = {"instrument":instruments,"price":price,"availability":availability}

In [6]:
mydf=pd.DataFrame(fieldlevel,columns=["instrument","price","availability"])
print(mydf)

  instrument  price availability
0     Guitar   3600          yes
1      Vilon   4650           no
2      Piano  12398          yes
3     sitara   5768           no
4      drums   9823          yes

In [7]:
mydf =mydf.set_index("instrument")
print(mydf)

            price availability
instrument
Guitar       3600          yes
Vilon        4650           no
Piano       12398          yes
sitara       5768           no
drums        9823          yes

In [8]:
mydf.drop("availability",axis=1)

            price
instrument
Guitar       3600
Vilon        4650
Piano       12398
sitara       5768
drums        9823

In [9]:
mydf.drop("availability",axis=1)

            price
instrument
Guitar       3600
Vilon        4650
Piano       12398
sitara       5768
drums        9823

In [5]:
Car_Sales=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/car_sales.csv',encoding='latin-1')
Car_Sales

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,yes,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,yes,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,yes,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,yes,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,yes,2007,Q7,full